<h2><%= @character.name %>:</h2>
<ul>
  <li>Name: <%= @character.age %></li>
  <li>Class: <%= @character.job %></li>
  <li>Race: <%= @character.race %></li>
  <li>Gender: <%= @character.gender %></li>
  <%= link_to "Home", characters_path  %>
</ul>