<div class="d-flex flex-column align-items-center">
  <h2><%= @character.name %>:</h2>
  <div class="d-flex">
    <div>
      <ul>
        <li>Age: <%= @character.age %></li>
        <li>Class: <%= @character.job %></li>
        <li>Race: <%= @character.race %></li>
        <li>Gender: <%= @character.gender %></li>
        <%= link_to "Home", characters_path  %>
      </ul>
    </div>
    <div>
      <ul>
        <li>Strength: <%= @character.strength %></li>
        <li>Dexterity: <%= @character.dexterity %></li>
        <li>Constitution: <%= @character.constitution %></li>
        <li>Intelligence: <%= @character.intelligence %></li>
        <li>Wisdom: <%= @character.wisdom %></li>
        <li>Charisma: <%= @character.charisma %></li>
      </ul>
    </div>
  </div>

<%# Dice Roller %>
  <div>
    <h2>Roll Your Stats!</h2>
    <div class="">
      <%# each button logic determines if ability has already been rolled. %>
      <button 
        class="roll" 
        data-character-id="<%= @character.id %>" 
        <%= "disabled" if @character.strength.present? %>>
        <%= @character.strength.present? ? "Rolled" : "STRENGTH" %>
      </button>
      <button class="roll" data-character-id="<%= @character.id %>">DEXTERITY</button>
      <button class="roll" data-character-id="<%= @character.id %>">CONSTITUTION</button>
    </div>
    <div class="">
      <button class="roll" data-character-id="<%= @character.id %>">INTELLIGENCE</button>
      <button class="roll" data-character-id="<%= @character.id %>">WISDOM</button>
      <button class="roll" data-character-id="<%= @character.id %>">CHARISMA</button>
    </div>  
  </div>

    <div class="d-flex dice-box justify-content-between mb-5">
      <div class="dice d1" data-character-id="<%= @character.id%>">?</div>
      <div class="dice d2" data-character-id="<%= @character.id%>">?</div>
      <div class="dice d3" data-character-id="<%= @character.id%>">?</div>
    </div>
  
  <%# End Dice Roller %>
  <div class="d-flex">
  <p>Delete this character?</p>
  <%= link_to character_path(@character[:id]), data: { turbo_method: :delete, turbo_confirm: "Really delete this character?"} do %>
  <button class="bg-danger">Delete</button>
  <% end %>
  </div>
</div>
